<section class="privacy-policy">
  <div class="container">
    <div class="privacy-policy-container">
      <h1>Privacy Policy</h1>
      <div class="title-underline">
        <span class="main-content-title-underline"></span>
      </div>
      <div>
        <h4>1.YOUR CONSENT</h4>
        <p>
          By using the Platform and the Services, you agree and consent to the
          collection, transfer, use, storage, disclosure and sharing of your
          information as described and collected by us in accordance with this
          Policy. If you do not agree with the Policy, please do not use or
          access the Platform.
        </p>
      </div>
      <div>
        <h4>2.POLICY CHANGES</h4>
        <p>
          We may occasionally update this Policy and such changes will be posted
          on this page. If we make any significant changes to this Policy, we
          will endeavour to provide you with reasonable notice of such changes,
          such as via a prominent notice on the Platform or to your email
          address on record and where required by applicable law, we will obtain
          your consent. To the extent permitted under the applicable law, your
          continued use of our Services after we publish or send a notice about
          our changes to this Policy shall constitute your consent to the
          updated Policy.
        </p>
      </div>
      <div>
        <h4>3.LINKS TO OTHER WEBSITES</h4>
        <p>
          The Platform may contain links to other websites. Any personal
          information about you collected whilst visiting such websites is not
          governed by this Policy. Grossify shall not be responsible for and has
          no control over the practices and content of any website accessed
          using the links contained on the Platform. This Policy shall not apply
          to any information you may disclose to any of our service
          providers/service personnel which we do not require you to disclose to
          us or any of our service providers under this Policy.
        </p>
      </div>
      <div>
        <h4>4.INFORMATION WE COLLECT FROM YOU</h4>
        <p>
          We will collect and process the following information about you: (a)
          Create or update your Grossify account, which may from time to time
          include your name, email, phone number, login name and password,
          address, and profile picture. (b) Provide content to us, which may
          include reviews, ordering details and history, favorite vendors,
          contact information of people you refer to us and other information
          you provide on the Platform (“Your Content”). (c) Use our Services, we
          may collect and store information about you to process your requests
          and automatically complete forms for future transactions, including
          (but not limited to) your phone number, address, email,information.
          (d) Correspond with Grossify for customer support; (e) When you
          communicate with us (via email, phone, through the Platform or
          otherwise), we may maintain a record of your communication (f)
          Location information: Depending on the Services that you use, and your
          app settings or device permissions, we may collect your real time
          information, or approximate location information as determined through
          data such as GPS, IP address; (g) If you are a customer or a delivery
          partner, we may, additionally, receive feedback and ratings from other
          users.
        </p>
      </div>

      <div>
        <!-- <h4>SECTION 5 - COOKIES</h4> -->
        <h4>5.Cookies</h4>
        <p>
          Our Platform and third parties with whom we partner, may use cookies,
          pixel tags, web beacons, mobile device IDs, “flash cookies” and
          similar files or technologies to collect and store information with
          respect to your use of the Services and third-party websites. Cookies
          are small files that are stored on your browser or device by websites,
          apps, online media and advertisements. We use cookies and similar
          technologies for purposes such as: (a) Authenticating users; (b)
          Remembering user preferences and settings; (c) Determining the
          popularity of content; (d) Delivering and measuring the effectiveness
          of advertising campaigns; (e) Analysing site traffic and trends, and
          generally understanding the online behaviours and interests of people
          who interact with our services. Please see our Cookie Policy for more
          information regarding the use of cookies and other technologies
          described in this section, including regarding your choices relating
          to such technologies.
        </p>
      </div>
      <div>
        <h4>6.USES OF YOUR INFORMATION</h4>
        <p>
          We use the information we collect for the following purposes,
          including: (a) To provide, personalise, maintain and improve our
          products and services, such as to enable deliveries and other
          services, enable features to personalise your Grossify account; (b) To
          carry out our obligations arising from any contracts entered into
          between you and us and to provide you with the relevant information
          and services; (c) To administer and enhance the security of our
          Platform and for internal operations, including troubleshooting, data
          analysis, testing, research, statistical and survey purposes; (d) To
          provide you with information about services we consider similar to
          those that you are already using, or have enquired about, or may
          interest you. If you are a registered user, we will contact you by
          electronic means (email or SMS or telephone) with information about
          these services; (e) To understand our users (what they do on our
          Services, what features they like, how they use them, etc.), improve
          the content and features of our Services (such as by personalizing
          content to your interests), process and complete your transactions,
          make special offers, provide customer support, process and respond to
          your queries; (f) To generate and review reports and data about, and
          to conduct research on, our user base and Service usage patterns; (g)
          To allow you to participate in interactive features of our Services,
          if any; or (h) To measure or understand the effectiveness of
          advertising we serve to you and others, and to deliver relevant
          advertising to you. (i) If you are a delivery partner, to track the
          progress of delivery or status of the order placed by our customers.
          We may combine the information that we receive from third parties with
          the information you give to us and information we collect about you
          for the purposes set out above. Further, we may anonymize and/or
          de-identify information collected from you through the Services or via
          other means, including via the use of third-party web analytic tools.
          As a result, our use and disclosure of aggregated and/or de-identified
          information is not restricted by this Policy, and it may be used and
          disclosed to others without limitation. We analyse the log files of
          our Platform that may contain Internet Protocol (IP) addresses,
          browser type and language, Internet service provider (ISP), referring,
          app crashes, page viewed and exit websites and applications, operating
          system, date/time stamp, and clickstream data. This helps us to
          administer the website, to learn about user behavior on the site, to
          improve our product and services, and to gather demographic
          information about our user base as a whole.
        </p>
      </div>

      <div>
        <h4>7.DATA SECURITY PRECAUTIONS</h4>
        <p>
          We have in place reasonable technical and security measures to secure
          the information collected by us. We use vault and tokenization
          services from third party service providers to protect the sensitive
          personal information provided by you. The third-party service
          providers with respect to our vault and tokenization services and our
          payment gateway and payment processing are compliant with the payment
          card industry standard (generally referred to as PCI compliant service
          providers). You are advised not to send your full credit/debit card
          details through unencrypted electronic platforms. Where we have given
          you (or where you have chosen) a username and password which enables
          you to access certain parts of the Platform, you are responsible for
          keeping these details confidential. We ask you not to share your
          password with anyone. Please be aware that the transmission of
          information via the internet is not completely secure. Although we
          will do our best to protect your personal data, we cannot guarantee
          the security of your data transmitted through the Platform. Once we
          have received your information, we will use strict physical,
          electronic, and procedural safeguards to try to prevent unauthorised
          access.
        </p>
      </div>

      <div>
        <h4>8.OPT-OUT</h4>
        <p>
          When you sign up for an account, you are opting in to receive emails
          from Grossify. You can follow the “unsubscribe” instructions in
          commercial email messages, but note that you cannot opt out of
          receiving certain administrative notices, service notices, or legal
          notices from Grossify. If you wish to withdraw your consent for the
          use and disclosure of your personal information in the manner provided
          in this Policy, please write to us at grossifyservices@gmail.com
          Please note that we may take time to process such requests, and your
          request shall take effect no later than 5 (five) business days from
          the receipt of such request, after which we will not use your personal
          data for any processing unless required by us to comply with our legal
          obligations/requirements. We may not be able to offer you any or all
          Services upon such withdrawal of your consent.
        </p>
      </div>
      <div>
        <h4>9.GRIEVANCE OFFICER AND PLATFORM SECURITY</h4>
        <p>
          If you have any queries relating to the processing or usage of
          information provided by you in connection with this Policy, please
          email us at grossifyservices@gmail.com or write to our Grievance
          Officer at the following address: If you come across any abuse or
          violation of the Policy, please report to grossifyservices@gmail.com
          Further, please note that the Platform stores your data with the cloud
          platform of Amazon Web Services provided by Amazon Web Services, Inc.,
          which may store this data on their servers located outside of India.
          Amazon Web Services has security measures in place to protect the
          loss, misuse and alteration of the information, details of which are
          available at https://aws.amazon.com/. The privacy policy adopted by
          Amazon Web Services are detailed in https://aws.amazon.com/privacy. In
          the event you have questions or concerns about the security measures
          adopted by Amazon Web Services, you can contact their data protection
          / privacy team / legal team or designated the grievance officer at
          these organisations, whose contact details are available in its
          privacy policy, or can also write to our Grievance Officer at the
          address provided above.
        </p>
      </div>

      <hr />
      <p class="align-center small-text">
        Made By <a routerLink="/">Grossify</a><br />
        Grossify V1.2
      </p>
    </div>
  </div>
</section>
