<section class="hero" id="home">
  <div class="hero-contents">
    <div class="image-contnet">
      <img src="../../assets/hero-image.png" alt="" />
    </div>
    <div class="text-content">
      <div class="hero-title-text">
        <h1>
          Buy Essential Products From Your Favorite Local Store.
        </h1>
      </div>
      <div class="hero-title-button">
        <a routerLink="/download"
          ><button class="btn btn-outline-light btn-lg">Download App</button></a
        >
      </div>
    </div>
  </div>
</section>
<section class="main-container container" id="features">
  <div class="row">
    <div class="main-content col-12">
      <div class="col-12 main-content-title">
        <h1>Why Grossify?</h1>
      </div>
      <div class="title-underline">
        <span class="main-content-title-underline"></span>
      </div>
      <div class="main-content-panel row">
        <div class="content-feature col-12 col-md">
          <div class="feature-image-icons">
            <span class="material-icons">
              storefront
            </span>
          </div>
          <h3>Trusted Stores</h3>
          <p>
            Shop Products form your trusted stores.
            <!-- Recognised stores and Quality checks done by our professionals to
            ensure you good health and product quality. -->
          </p>
        </div>

        <div class="content-feature col-12 col-md">
          <div class="feature-image-icons">
            <span class="material-icons">
              check_box
            </span>
          </div>
          <h3>All in One App</h3>
          <p>
            Order anything from local products to branded products , from
            Grossries to electronics. Each and every product is available.
          </p>
        </div>

        <div class="content-feature col-12 col-md">
          <div class="feature-image-icons">
            <span class="material-icons">
              local_shipping
            </span>
          </div>
          <h3>Free Delivery</h3>
          <p>
            Too lazy to go out ? We offer you FREE HOME DELIVERY , so sit back
            and relax.
          </p>
        </div>

        <div class="content-feature col-12 col-md">
          <div class="feature-image-icons">
            <span class="material-icons">
              cached
            </span>
          </div>
          <h3>Easy Return</h3>
          <p>
            Any issues with product ? You can return it easily.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-banner" id="signup">
  <div class="container">
    <div class="row">
      <div class="col-12 text-banner-content">
        <h1>Are you looking for digital platform to sell your products?</h1>
        <p>Register now for free.</p>
        <div class="text-banner-button">
          <a
            href="https://sell.grossify.in"
            class="btn btn-outline-light btn-lg"
          >
            <!-- <button class="btn btn-outline-light btn-lg">Register</button> -->
            Register Now
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="client-says">
  <div class="container">
    <div class="row client-says-container">
      <div class="col-12 client-says-heading">
        <h1>Client Reviews</h1>
        <div class="title-underline">
          <span class="main-content-title-underline"></span>
        </div>
      </div>
      <div class="col-md-3 client-says-content">
          <span class="quote-for-seller">❝</span>
          <p>
            Nice application for selling local store products. I am selling more
            items digitally through Grossify.
          </p>
          <div class="client-details">
            <div class="client-image">
              <img
                class="img-fluid"
                src="../../../assets/store-image.jpg"
                alt=""
              />
            </div>
            <div class="client-details-text">
              <h5>Radhika Supermarket</h5>
              <p>Local Store</p>
            </div>
          </div>
      </div>
      <!-- <div class="client-says-seperator"></div> -->
      <div class="col-md-3 offset-md-1 client-says-content client-says-seperator">
        <!-- <hr role="separator"> -->
        <span class="quote-for-seller">❝</span>
        <p>
          This app is very helpful for us to get more customers from more
          places.
        </p>
        <div class="client-details">
          <div class="client-image">
            <img
              class="img-fluid"
              src="../../../assets/kirana_store.jpg"
              alt=""
            />
          </div>
          <div class="client-details-text">
            <h5>Maharashtra Kirana</h5>
            <p>Local Kirana Store</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 offset-md-1 client-says-content client-says-seperator">
        <span class="quote-for-seller">❝</span>
        <p>
          We are selling more local products and groceries using this app. Easy
          to use and simple.
        </p>
        <div class="client-details">
          <div class="client-image">
            <img
              class="img-fluid"
              src="../../../assets/grocier_image.jpg"
              alt=""
            />
          </div>
          <div class="client-details-text">
            <h5>Sandip Supermarket</h5>
            <p>Local Super Market</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="download-now" id="download">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="download-now-content">
          <h1>Special offers on registering your business with us</h1>
          <div class="app-download-link">
            <a [routerLink]="['/download']" fragment="seller-app"
              ><button class="btn btn-outline-light btn-lg">
                Download App
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
