<section class="hero" id="home">
    <div class="hero-contents">
      <div class="image-contnet">
        <img class="img-fluid" src="../../assets/hero-image.png" alt="" />
      </div>
      <div class="text-content">
        <div class="hero-title-text">
          <h1>
            Buy Your Local Products Directly <br> From Your Favouite Local Store.
          </h1>
        </div>
        <div class="hero-title-button">
         <a href="https://play.google.com/store/apps/details?id=in.grossify.grossifyapp"><button class="btn btn-outline-light btn-lg">Download App</button></a> 
        </div>
      </div>
    </div>
  </section>
  <section class="main-container container" id="features">
    <div class="row">
      <div class="main-content col-12">
        <div class="col-12 main-content-title">
          <h1>Why Grossify?</h1>
        </div>
        <div class="main-content-panel row">
          <div class="content-feature col-12 col-md">
            <div class="feature-image-icons">
              <span class="material-icons">
                storefront
              </span>
            </div>
            <h3>Trustworthy Stores</h3>
            <p>
              Shop your favorite items directly from your trusted local store. 
            </p>
          </div>
  
          <div class="content-feature col-12 col-md">
            <div class="feature-image-icons">
              <span class="material-icons">
                check_box
              </span>
            </div>
            <h3>All Products Avaliable</h3>
            <p>
              You can shop each and every products you need.
            </p>
          </div>
  
          <div class="content-feature col-12 col-md">
            <div class="feature-image-icons">
              <span class="material-icons">
                local_shipping
              </span>
            </div>
            <h3>Free Delivery</h3>
            <p>
              You will get an instant delivery of your order within 1 hours.
            </p>
          </div>
  
          <div class="content-feature col-12 col-md">
            <div class="feature-image-icons">
              <span class="material-icons">
                cached
              </span>
            </div>
            <h3>Easy Return</h3>
            <p>
              Easy and quick return for every products which doesnot satisfy you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-banner" id="signup">
    <div class="container">
      <div class="row">
        <div class="col-12 text-banner-content">
          <h1>Looking for Digital Platform to Sell your Products?</h1>
          <div class="text-banner-button">
            <a href="https://seller.grossify.in" class="btn btn-outline-light btn-lg">
              <!-- <button class="btn btn-outline-light btn-lg">Register</button> -->
              Register
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="download-now" id="download">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="download-now-content">
              <h1>Start From Today</h1>
              <div class="app-download-link">
               <a href="https://play.google.com/store/apps/details?id=in.grossify.grossifyapp"><button class="btn btn-outline-light btn-lg">Download App</button></a> 
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>