@import "../../for-mobile-app/for-mobile-app.component.scss";

section.client-says{
  .client-says-container{
    justify-content: space-evenly;
    .client-says-content{
      p{
        width: 80%;
      }
    }
  }
}
@media (max-width: 450px) {
  .main-content {
    .main-content-title {
      h1 {
        font-size: 3rem;
      }
    }
    .row {
      margin: 0;
    }
    .main-content-panel {
      .content-feature {
        // padding:0;
        h3 {
          font-size: 2rem;
        }
        p {
          font-size: 1.5rem;
          padding: 0rem 8rem;
        }
      }
    }
  }
  section.text-banner {
    .text-banner-content {
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 1.7rem;
      }
    }
  }
  section.client-says {
    .client-says-container {
      .client-says-heading {
        h1 {
          font-size: 3rem;
        }
      }
      .client-says-content {
        span.quote-for-seller{
          margin-left: 3rem;
        }
        padding: 3rem 6rem;
        p {
          padding: 0rem 6rem;
          line-height: 2.5rem;
          font-size: 1.3rem;
        }
        .client-details {
          align-items: center;
          .client-image {
            img {
              width: 7.2rem;
              height: 7.2rem;
            }
          }
          .client-details-text {
            h5 {
              font-size: 1.6rem;
            }
            p {
              font-size: 1.3rem;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

