<section class="contact-us-hero">
  <div class="hero-contents">
    <div class="text-content">
      <div class="hero-title-text">
        <h1 class="Special-title-text">
          Contact us
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="any-questions">
  <div class="container">
    <form action="" method="post">
      <div class="any-questions-container">
        <h1>Got Any Questions?</h1>
        <div class="row input-fields">
          <div class="col-md-12 col-lg-6 input-custom-container">
            <input
              class="input-custom form-control input-custom"
              type="text"
              placeholder="NAME"
            />
          </div>
          <div class="col-md-12 col-lg-6 input-custom-container">
            <input
              class="input-custom form-control input-custom"
              type="email"
              placeholder="EMAIL"
            />
          </div>
          <div class="col-md-12">
            <textarea
              class="form-control textarea-custom"
              name="message"
              placeholder="MESSAGE"
              id=""
              cols="30"
              rows="5"
            ></textarea>
          </div>
        </div>
        <button class="btn btn-outline-dark btn-lg contactus-button">
          CONTACT US
        </button>
      </div>
    </form>
  </div>
</section>

<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Newsletter</h1>
        <p>Get timely updates from your favorite products</p>
        <form action="">
          <div class="email-subscription ">
            <div class="subscribe-email">
              <input type="email" class="form-control" />
             
            </div>
            <div class="subscribe-button">
              <button class="btn btn-primary">SUBSCRIBE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="contact-details">
  <div class="container">
    <div class="contact-details-container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="contact-detail">
            <span class="material-icons contact-detail-icon">
              place
            </span>
            <h4>Address</h4>
            <p>
              248 , 2nd Floor, Ringhi Street, Chennai
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="contact-detail">
            <span class="material-icons contact-detail-icon">email</span>
            <h4>Email Us</h4>
            <p>grossifyservices@gmail.com <br /></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="contact-detail">
            <span class="material-icons contact-detail-icon">
              phone
            </span>
            <h4>Let's Talk</h4>
            <p>+918788025708 <br /></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="contact-detail">
            <span class="material-icons contact-detail-icon">
              work
            </span>
            <h4>Working Hours</h4>
            <p>
              Mon to Sat - 9 am to 11 pm Sunday - 10 am to 6 pm
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
