@import "../../for-mobile-app/for-mobile-app.component.scss";
section.contact-us-hero {
  .hero-contents {
    background: url("../../../assets/undraw_contact_us_15o2\ 1.png") bottom left,
      $base-background-image;
    // background-repeat: no-repeat;
    background-position: 579% 90%;
    height: 30.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-size: cover;
    background-size: contain;
    .text-content {
      .hero-title-text {
        h1 {
          @extend .special-title-text;
          text-shadow: 0.023em 0.023em 0 #ffffffd9;
          background: -webkit-linear-gradient(
            $secondary-color,
            $secondary-color
          );
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
        }
      }
    }
  }
}

section.any-questions {
  margin: 4rem;
  .any-questions-container {
    text-align: center;
    h1 {
      padding: 2rem;
      margin: 2rem;
      text-align: center;
      font-weight: 900;
    }
    .input-fields {
      .input-custom-container {
        margin-bottom: 2rem;
      }
      .input-custom {
        // width: 50%;
        margin: 0.5rem 0rem;
        padding: 1.5rem;
        width: 100%;
        font-size: 1rem;
        border-radius: 0.05rem;
        &:hover {
          border-color: black;
          transition: all 300ms linear 0ms;
          box-shadow: none;
        }
        &:focus {
          box-shadow: none;
          border-color: black;
        }
      }
      .textarea-custom {
        margin-bottom: 2rem;
        padding: 2rem;
        &:hover {
          border-color: black;
          transition: all 300ms linear 0ms;
        }
        &:focus {
          box-shadow: none;
          border-color: black;
        }
      }
    }
    button.contactus-button {
      border-radius: 0.02rem;
      background-color: black;
      color: $secondary-color;
      font-size: 1rem;
      padding: 0.7rem 1rem;
      &:hover {
        background-color: $secondary-color;
        color: black;
      }
    }
  }
}

section.newsletter {
  margin:4rem 0rem;
  .col-12 {
    text-align: center;
    h1 {
      // padding: 2rem;
      margin-bottom: 1rem;
      text-align: center;
      font-weight: 900;
    }
    p{
      font-size: 1rem;
      font-weight: 500;
      padding-bottom:1rem;
    }
    .email-subscription {
      padding: 0rem 3rem;
      display: flex;
      justify-content: center;
      .subscribe-email {
        margin: 0rem 0.5rem;
        width: 70%;
      }
      .subscribe-email {
        input {
          padding: 1.5rem;
          border-radius: 0.1rem;
          &:hover {
            border-color: black;
            transition: all 300ms linear 0ms;
          }
          &:focus {
            box-shadow: none;
            border-color: black;
          }
        }
      }
      .subscribe-button {
        button {
          @extend .contactus-button;
          // color:black;
          border-radius: 0.02rem;
          background-color: black;
          color: $secondary-color;
          font-size: 1rem;
          padding: 0.7rem 1.5rem;
          &:hover {
            background-color: $secondary-color;
            color: black;
          }
        }
      }
    }
  }
}
section.contact-details {
  margin: 2rem 0rem;
  .contact-details-container {
    .contact-detail {
      // border: 1px solid $third-color;
      border: 1px solid rgba(103, 113, 128, 0.15);
      text-align: center;
      padding: 2rem 1rem;
      margin: 1rem 0rem;
      &:hover {
        background: #ffffff;
        -ms-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
        -o-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
        box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);

        transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
        -ms-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        .contact-detail-icon {
          color: $base-color;
        }
      }
      .contact-detail-icon {
        font-size: 3rem;
        color: $third-color;
      }
      h4 {
        font-size: 1.1rem;
        font-weight: 600;
        margin: 1rem;
      }
      p {
        font-size: 0.8rem;
        font-weight: 500;
        color: $third-color;
      }
    }
  }
}
