<section class="about-us-hero">
  <div class="hero-contents">
    <!-- <div class="image-contnet">
      <img src="../../assets/hero-image.png" alt="Grossify" />
    </div> -->
    <div class="text-content">
      <div class="hero-title-text">
        <h1 class="Special-title-text">
          About us
        </h1>
    </div>
  </div>
  </div>
</section>

<section class="our-team">
  <div class="container">
    <div class="our-team-contents">
      <div class="row">
        <div class="col-12 team-text-content">
          <h1>Our Team</h1>
          <div class="title-underline">
            <span class="main-content-title-underline"></span>
          </div>
        </div>

        <div class="col-md team-main-content">
          <img
            class="img-fluid"
            src="../../../assets/team-member-1.jpg"
            alt="team-member"
          />
          <h4>Jhon Doe</h4>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo,
            excepturi. Vel, ipsum.
          </p>
        </div>
        <div class="col-md team-main-content">
          <img
            class="img-fluid"
            src="../../../assets/team-member-1.jpg"
            alt="team-member"
          />
          <h4>Jhon Doe</h4>
          <p>Professionl developers and user</p>
        </div>
        <div class="col-md team-main-content">
          <img
            class="img-fluid"
            src="../../../assets/team-member-1.jpg"
            alt="team-member"
          />
          <h4>Jhon Doe</h4>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et ipsam
            culpa voluptatum.
          </p>
        </div>
        <div class="col-md team-main-content">
          <img
            class="img-fluid"
            src="../../../assets/team-member-1.jpg"
            alt="team-member"
          />
          <h4>Jhon Doe</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
            ad dolores ipsa?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="brief-detail">
  <div class="container-fluid">
    <div class="brief-detail-container">
      <div class="brief-detail-content">
        <div class="brief-detail-image">
          <span class="material-icons">
            supervisor_account
          </span>
        </div>
        <div class="brief-detail-text">
          <span class="numbers">10000</span>
          <h4>Happy Customers</h4>
        </div>
      </div>
      <div class="brief-detail-content">
        <div class="brief-detail-image">
          <span class="material-icons">
            local_shipping
          </span>
          <!-- <i class="fa fa-truck" aria-hidden="true"></i> -->
        </div>
        <div class="brief-detail-text">
          <span class="numbers">28</span>
          <h4>Delivery on All States</h4>
        </div>
      </div>
      <div class="brief-detail-content">
        <div class="brief-detail-image">
          <span class="material-icons">
            alarm_on
          </span>
        </div>
        <div class="brief-detail-text">
          <span class="numbers">5000</span>
          <h4>Hours Worked</h4>
        </div>
      </div>
      <div class="brief-detail-content">
        <div class="brief-detail-image">
          <span class="material-icons">
            shopping_cart
          </span>
          <!-- <span class="material-icons">
                thumb_up
                </span> -->
          <!-- <i class="fa fa-thumbs-up" aria-hidden="true"></i> -->
        </div>
        <div class="brief-detail-text">
          <span class="numbers">20000</span>
          <h4>Products Sold</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="client-says">
  <div class="container">
    <div class="row client-says-container">
      <div class="col-12 client-says-heading">
        <h1>Our Client Says</h1>
        <div class="title-underline">
          <span class="main-content-title-underline"></span>
        </div>
      </div>
      <div class="col-md-4 client-says-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At minus
          consequatur voluptas. Error cum non veritatis hic itaque? Deserunt,
          autem.
        </p>
        <div class="client-details">
          <div class="client-image">
            <img src="../../../assets/team-member-1.jpg" alt="" />
          </div>
          <div class="client-details-text">
            <h5>John Doe</h5>
            <p>Profession</p>
          </div>
        </div>
      </div>
      <!-- <div class="client-says-seperator"></div> -->
      <div class="col-md-4 client-says-content client-says-seperator">
        <!-- <hr role="separator"> -->
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At minus
          consequatur voluptas. Error cum non veritatis hic itaque? Deserunt,
          autem.
        </p>
        <div class="client-details">
          <div class="client-image">
            <img src="../../../assets/team-member-1.jpg" alt="" />
          </div>
          <div class="client-details-text">
            <h5>John Doe</h5>
            <p>Profession</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 client-says-content client-says-seperator">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At minus
          consequatur voluptas. Error cum non veritatis hic itaque? Deserunt,
          autem.
        </p>
        <div class="client-details">
          <div class="client-image">
            <img src="../../../assets/team-member-1.jpg" alt="" />
          </div>
          <div class="client-details-text">
            <h5>John Doe</h5>
            <p>Profession</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="major-features">
  <div class="container">
    <div class="major-features-container">
      <div class="major-feature-details">
        <div class="major-feature-image">
          <span class="material-icons">
            public
          </span>
        </div>
        <div class="major-feature-text">
          <h3>Free Shipping</h3>
          <p>Free shipping on all India order</p>
        </div>
      </div>
      <div class="major-feature-details">
        <div class="major-feature-image">
          <span class="material-icons">
            autorenew
          </span>
        </div>
        <div class="major-feature-text">
          <h3>Free Exchange</h3>
          <p>30 days return on all items</p>
        </div>
      </div>
      <div class="major-feature-details">
        <div class="major-feature-image">
          <span class="material-icons">
            headset_mic
          </span>
        </div>
        <div class="major-feature-text">
          <h3>Premium Support</h3>
          <p>We support online 24 hours a day</p>
        </div>
      </div>
      <div class="major-feature-details">
        <div class="major-feature-image">
          <span class="material-icons">
            redeem
          </span>
        </div>
        <div class="major-feature-text">
          <h3>Black Friday</h3>
          <p>Shocking discount on every Friday</p>
        </div>
      </div>
    </div>
  </div>
</section>
