<section class="download-hero">
  <div class="hero-contents">
    <div class="text-content">
      <h1 class="special-title-text">
        Download
      </h1>
    </div>
  </div>
</section>
<section class="avaliable-download">
  <div class="container">
    <div class="avaliable-download-container">
      <div class="avaliable-download-image">
        <img class="img-fluid" src="../../../assets/web page.png" alt="" />
      </div>
      <div class="avaliable-download-text">
        <h1>
          Grossify :
          <br />
          The Shopping App
          <div class="title-underline">
            <span class="main-content-title-underline"></span>
          </div>
        </h1>

        <p>
          Buy Your Local Products Directly From Your Favouite Local Store. With
          Grossify there are always offers and new items.
        </p>
        <div class="download-app">
          <h4>
            Download App
            <div class="title-underline">
              <span class="main-content-title-underline"></span>
            </div>
          </h4>
          <div class="download-image">
            <!-- <a href="#">
              <img src="../../../assets/playstore.png" alt="" />
            </a> -->
            <a href='https://play.google.com/store/apps/details?id=in.grossify.grossifyapp&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='../../../assets/playstore.png'/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="avaliable-download-business" id="seller-app">
  <div class="container">
    <div class="avaliable-download-container">
      <div class="avaliable-download-text">
        <h1>
          Grossify :
          <br />
          The Seller App
          <div class="title-underline">
            <span class="main-content-title-underline"></span>
          </div>
        </h1>

        <p>
          Sell Your Local Products Directly to Nearby Local Stores. With
          Grossify Expand Your Buisness Digitally and Your Profit.
        </p>
        <div class="download-app">
          <h4>
            Download App
            <div class="title-underline">
              <span class="main-content-title-underline"></span>
            </div>
          </h4>
          <div class="download-image">
            <!-- <a href="#">
              <img src="../../../assets/playstore.png" alt="" />
            </a> -->
            <a href='https://play.google.com/store/apps/details?id=in.grossify.grossifyapp&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='../../../assets/playstore.png'/></a>
          </div>
        </div>
      </div>
      <div class="avaliable-download-image">
        <img class="img-fluid" src="../../../assets/web page.png" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- <section class="download-now" id="download">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="download-now-content">
          <h1>Special offers on registering your business with us</h1>
          <div class="app-download-link">
            <a
              href="https://play.google.com/store/apps/details?id=in.grossify.grossifyapp"
              ><button class="btn btn-outline-light btn-lg">
                Download App
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
