/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import "~material-icons/iconfont/material-icons.scss";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

// html,
// body {
//   height: 100%;
// }
$base-color: #f05e3c;
$secondary-color:white;
$third-color:rgba(45, 40, 39, 0.77);
$base-background-image: linear-gradient(
  to bottom,
  #2c1a55,
  #4f1b55,
  #6c1e52,
  #82264c,
  #943544,
  #9e3c41,
  #a7453d,
  #af4e39,
  #b84e37,
  #c04e35,
  #c94d33,
  #d14d30
);
* {
  font-size: 16px;
}
body {
  // margin: 0;
  //   font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

@media(max-width:450px){
  *{
    font-size: 5px;
  }
}
@media(min-width:450px) and(max-width: 576px) {
  * {
    font-size: 10px;
  }
  nav.navbar.navbar-expand{
    padding: 0.5rem 1.5rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
 *{
    font-size: 12px;
  }
}
@media (min-width:768px) and (max-width:1210px){
  *{
    font-size: 14px;
  }
}
