@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  // src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular");
  //   url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
  //   url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
  //   url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

$base-color: #f05e3c;
$secondary-color: white;
$third-color: rgba(45, 40, 39, 0.77);
$base-background-image: linear-gradient(
  to bottom,
  #2c1a55,
  #4f1b55,
  #6c1e52,
  #82264c,
  #943544,
  #9e3c41,
  #a7453d,
  #af4e39,
  #b84e37,
  #c04e35,
  #c94d33,
  #d14d30
);

//underline element
.title-underline {
  display: flex;
  justify-content: center;
  .main-content-title-underline {
    border: 1px solid #f05e3c;
    width: 17rem;
    text-align: center;
  }
}
//Special text-for main-banner
h1.special-title-text {
  font-size: 8rem;
  font-weight: 900;
  border-bottom: 0.6rem dotted $secondary-color;
  //   border-bottom: 0.5rem dotted $base-color;
  //   font-size: 72px;
  background: -webkit-linear-gradient($base-color, $base-color);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  width: 100%;
  text-shadow: 0.04em 0.04em 0 #ffffffd9;
  text-transform: capitalize;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 300;
}
nav {
  // background-color: rgba(99, 88, 88, 0.651);
  background-color: rgba(212, 205, 205, 0.18);
  background-color: rgba(45, 40, 39, 0.35);
  background-color: rgba(45, 40, 39, 0.56);
  height: 5rem;
  align-items: center;
  padding: 0.5rem 4rem;
}
.navbar-brand img {
  width: 9.3rem;
}
.header-menu {
  display: flex;
  justify-content: flex-end;
  ul li {
    a.active-nav {
      color: $secondary-color;
      padding-bottom: 0.5rem;
      // border-bottom: 3px solid $base-color;
    }
  }
}
.header-menu ul li a {
  padding: 1rem;
}

.header-menu li a {
  color: $base-color;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  &:hover{
    color: $secondary-color;
  }
}
.header-link-seperator {
  margin: auto 0.5rem;
  // border-left:1px solid white;
  height: 1.01rem;
  width: 0.0625rem;
  background-color: $base-color;
}

//Above section is header.DOn't touch that

.hero-contents {
  height: 37.5rem;
  // background-image: linear-gradient(to left bottom, #4c2e3f, #6c344b, #8d3a52, #ae4052, #cd494d, #d66441, #d88038, #d49c38, #bbbe60, #a9d997, #a8efcf, #f05e3c);
  // background-image: linear-gradient(to left bottom, #796f90, #926c98, #b06595, #ce5c86, #e4566c, #eb565e, #ef594e, #f05e3c, #f05e3c, #f05e3c, #f05e3c, #f05e3c);
  // background-image: linear-gradient(to bottom, #bcabe5, #d09ada, #e586c3, #f572a3, #fb637a, #f15f65, #e55c51, #d75b3e, #c45940, #b15641, #9f5341, #8c5042);
  background-image: linear-gradient(
    to bottom,
    #3d2673,
    #621a69,
    #7c095a,
    #8d0047,
    #970f33,
    #9e2b34,
    #a43f37,
    #a9503b,
    #b46856,
    #bd8072,
    #c3988e,
    #c8b0ab
  );
  background-image: linear-gradient(
    to bottom,
    #1b0848,
    #420048,
    #600042,
    #780039,
    #8a012c,
    #951628,
    #9e2722,
    #a6361c,
    #b13c21,
    #bb4126,
    #c6472b,
    #d14d30
  );
  background-image: linear-gradient(
    to bottom,
    #2c1a55,
    #4f1b55,
    #6c1e52,
    #82264c,
    #943544,
    #9e3c41,
    #a7453d,
    #af4e39,
    #b84e37,
    #c04e35,
    #c94d33,
    #d14d30
  );
  // background-image: linear-gradient(to right, #f05e3c, #f26644, #f56d4d, #f77555, #f97c5d);
  display: flex;
  align-items: center;
}

.image-contnet img {
  width: 37.5rem;
}

.hero-title-text {
  h1 {
    text-align: left;
    color: white;
    width: 80%;
    font-size: 3rem;
  }
}
.hero-title-button {
  margin: 2rem auto;
  border-radius: 0.5rem;
  button:hover {
    color: $base-color;
  }
}

.main-content {
  padding: 4rem 0rem;
  .main-content-title {
    h1 {
      text-align: center;
      padding: 0.5rem 0rem;
      font-weight: 900;
    }
  }
  .main-content-panel {
    // display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: space-between;
    .content-feature {
      text-align: center;
      .feature-image-icons {
        margin: 2rem 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .material-icons {
          display: flex;
          align-items: center;
          justify-content: center;
          background-image: $base-background-image;
          width: 9rem;
          height: 9rem;
          border-radius: 50%;
          padding: 0.6rem;
          // background-color: $base-color;
          color: white;
          font-size: 4rem;
          text-align: center;
        }
      }
      h3 {
        font-size: 1.5rem;
        margin: 1rem 0rem;
        font-weight: 700;
      }
      p {
        font-size: 1rem;
        margin: 0.5rem 0rem;
        font-weight: 500;
        color: $third-color;
      }
    }
  }
}
section.text-banner {
  background-image: $base-background-image;
  height: 30rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .text-banner-content {
    h1 {
      text-align: center;
      color: $secondary-color;
      font-size: 3rem;
      font-weight: 600;
    }
    p {
      text-align: center;
      color: $secondary-color;
      font-size: 1.5rem;
      font-weight: 500;
    }
    .text-banner-button {
      margin: 2.5rem 0rem;
      justify-content: center;
      display: flex;
      align-items: center;
      a.btn {
        color: $secondary-color;
        width: 25%;
        // height:10%;
        &:hover {
          color: $base-color;
        }
      }
      // button:hover{
      //     color:$base-color;
      // }
    }
  }
}

section.question-sections {
  margin-top: 1rem;
  padding-bottom: 3rem;
  // border-bottom: 1px solid $third-color;
  .faq {
    text-align: center;
    h1 {
      font-weight: 600;
    }
    .faq-panel {
      ul {
        padding: 0;
      }
      .faq-panel-body {
        //  padding:1rem 3rem;
        margin-bottom: 0.4rem;
        border-radius: 0.4rem;
        .faq-panel-header {
          padding: 1rem 3rem;
          align-items: center;
          transition: none;
          p {
            margin: 0;
          }
        }
        hr.faq-seperator {
          margin-top: 0.2rem;
        }
        .faq-answer {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 2rem;
          border: 0;
        }
      }
    }
  }
}
section.download-now {
  width: 100%;
  background-image: $base-background-image;
  // margin-bottom: 3rem;
  height: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .download-now-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
      text-align: center;
      color: $secondary-color;
      font-size: 3rem;
      font-weight: 600;
    }
    // display: flex;
    @extend .text-banner-content;

    .app-download-link {
      margin: 2rem;
      button {
        padding: 0.5rem 2rem;
        &:hover {
          color: $base-color;
        }
      }
    }
  }
}
section.footer {
  padding: 0.5rem 4rem;
  margin-top: 3rem;
  .footer-container {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    .brand-logo {
      @extend .navbar-brand;
      img {
        margin: 0rem 1rem 1rem 0rem;
      }
    }
    .align-items-between {
      display: flex;
      justify-content: space-between;
    }
    .footer-links {
      h3 {
        font-size: 1.2rem;
        color: $base-color;
        margin: 0rem 0rem 1rem;
        font-weight: 600;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          padding: 0.3rem 0rem;
          a {
            font-size: 1rem;
            color: $third-color;
          }
        }
      }
    }
    .social-links {
      @extend .footer-links;
      ul {
        display: inline-flex;
        li {
          a {
            font-size: 2rem;
            // color:red;
            text-decoration: none;
            padding: 1rem 1rem 0rem 0rem;
            &:hover {
              color: $base-color;
            }
          }
        }
      }
      button.btn-apple {
        border: 0.0625rem solid $base-color;
        color: $base-color;
        padding: 0.4rem;
        // width:10%;
        &:hover {
          color: $secondary-color;
          background-color: $base-color;
        }
      }
    }
  }
  .footer-copyright {
    text-align: center;
    p {
      margin: 0;
      color: $third-color;
      font-weight: 600;
      font-size: 0.9rem;
    }
  }
}

//Client Says Components
section.client-says {
  // margin:3rem;
  margin-bottom: 4rem;
  .client-says-container {
    .client-says-heading {
      text-align: center;
      h1 {
        padding: 0.5rem 0rem;
        font-weight: 900;
      }
    }
    // .client-says-seperator{
    //     border-left: 1px solid $third-color;
    //     // height: 14rem;
    //     padding:0.5rem;
    // }
    .client-says-content {
      padding: 0.5rem;
      padding-top: 3rem;
      p {
        text-align: left;
        margin: 1rem;
        font-style: italic;
        line-height: 1.5rem;
        font-size: 1rem;
        margin-left: 0rem;
        margin-top: 0rem;
      }
      .client-details {
        display: flex;
        .client-image {
          img {
            width: 4.2rem;
            border-radius: 50%;
          }
        }
        .client-details-text {
          padding-left: 2rem;
          h5 {
            font-size: 1rem;
            font-weight: 600;
          }
          p {
            margin: 0;
            font-weight: 500;
            font-size: 0.8rem;
            font-style: normal;
          }
        }
      }
    }
  }
}